*{
    font-family:sans-serif;
}
.box-contain{
    overflow:hidden;
}
.box{
    display:block;
    width:150px;
    padding:20px;
    margin:10px;
    background:#333;
    color:#fbfbfb;
    float:left;
}