*{
    font-family: sans-serif;
    box-sizing: border-box;
}
.conform{
    display: block;
    width: 100%;
    overflow:hidden;
}
.box{
    display:block;
    width:33.33%;
    padding:10px;
    margin: 10px 0;
    background:#333;
    color:#fbfbfb;
    float:left;
}
